/* Manifest ------------ */
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Muli:400");
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Variables ------------- */
.element {
  font-size: 0.6875em; }

.element {
  font-size: 0.55em; }

body {
  font-family: 'Fanwood Text', serif, 'Open+Sans', 'Shrikhand', 'Bangers';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header-parallax {
  height: -webkit-fill-available;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }
  @media (min-width: 768px) {
    .header-parallax {
      height: 600px; } }

.parallax {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.affix {
  top: 0;
  width: 100%;
  z-index: 1000; }

.affix + .container-fluid {
  padding-top: 70px; }

p {
  font-family: "Asap", "Muli", "sans-serif"; }

img {
  margin: 0 auto;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  max-width: 100%;
  height: auto; }

h2 {
  text-align: center;
  font-family: Bangers;
  color: #495045; }

.inner-wrapper {
  margin: 0px;
  padding: 0px; }

.col-md-12 {
  padding: 0px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }
  .row p {
    font-size: 18px; }

/* Left Column of Home, DIY, The Shop, Track Blog, The Lift ------- */
.col-md-8 {
  margin-top: 50px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px #fffff9;
     -moz-box-shadow: 2px 2px 10px #fffff9;
          box-shadow: 2px 2px 10px #fffff9;
  background-color: rgba(255, 255, 255, 0.97);
  margin-left: 30px; }

.col-md-3 {
  margin-top: 50px; }

.tool-list ol {
  padding-top: 5px; }

.tertiary {
  padding-top: 5px;
  margin-left: 5px; }
  .tertiary h2 {
    text-align: center; }

h5 {
  margin: 0px;
  font-size: 10px; }

.blog-navigation ul {
  display: -webkit-box; }
  .blog-navigation ul a {
    padding-left: 5px; }

/* Header -------------- */
header .title {
  text-align: right;
  height: 130px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; }

.container p {
  text-align: left; }

h1 {
  color: black;
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  max-width: 100%;
  height: auto; }

.content a {
  color: inherit; }

.content, .col-md-8 img {
  text-align: center;
  margin: 0 auto;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 50px; }

.content img {
  height: 100%;
  max-width: 100%;
  max-height: 100%; }

.content h2 {
  padding-top: 5px; }

.col-md-8,
.col-md-4, .sidebar {
  padding-top: 10px; }

p {
  font-size: 15px; }

ul {
  padding: 0px; }

.post-categories li {
  display: inline; }

/* Helper Classes --------------------------- */
@media (min-width: 1000px) {
  .container {
    width: 100%;
    margin-top: 100px; } }

@media (max-width: 768px) {
  .row {
    margin-top: 0px; } }

.search-form {
  margin-top: 1em;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.97); }

@media (min-width: 768px) {
  .search-form {
    display: none; } }

.large-navbar {
  display: none; }

.navbar-brand {
  padding: 0px; }

#nav-icon2 {
  z-index: 1000;
  width: 45px;
  height: 45px;
  position: relative;
  margin: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #fafafa;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon2 span:nth-child(even) {
  left: 50%;
  -webkit-border-radius: 0 9px 9px 0;
     -moz-border-radius: 0 9px 9px 0;
          border-radius: 0 9px 9px 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  -webkit-border-radius: 9px 0 0 9px;
     -moz-border-radius: 9px 0 0 9px;
          border-radius: 9px 0 0 9px; }

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px; }

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 11px; }

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 23px; }

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#nav-icon2.open span:nth-child(1) {
  left: 2px;
  top: 7px; }

#nav-icon2.open span:nth-child(2) {
  left: -webkit-calc(50% - 5px);
  left: -moz-calc(50% - 5px);
  left: calc(50% - 5px);
  top: 9px; }

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon2.open span:nth-child(5) {
  left: 2px;
  top: 24px; }

#nav-icon2.open span:nth-child(6) {
  left: -webkit-calc(50% - 4px);
  left: -moz-calc(50% - 4px);
  left: calc(50% - 4px);
  top: 23px; }

.navbar .nav-banner {
  height: 53px; }

.logo h1 {
  font-family: Bangers;
  float: left;
  color: #000;
  font-size: 47px;
  margin-top: 3px;
  margin-left: 10px; }

.navbar-collapse.in {
  overflow-y: visible; }

.navbar-inverse .navbar-collapse {
  margin-top: -5em;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.89); }

.navbar
.navbar-nav {
  display: inline-block;
  float: right;
  margin-right: 35px; }

.navbar-collapse {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.nav .nav-item a {
  font-size: 20px; }

.navbar-brand {
  height: 53px; }

.navbar-inverse
.navbar-nav > li > a {
  color: #f5f5f5;
  font-size: 40px;
  color: #fff;
  display: inline-block; }

.navbar-nav > li > a {
  padding-top: 11px;
  padding-bottom: 7px; }

.sub-menu li {
  margin-bottom: 10px;
  list-style: none; }

.sub-menu li:last-child {
  margin-bottom: 0; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

#navbar ul {
  text-align: center;
  padding-left: 6em; }
  #navbar ul li a:hover {
    color: #22b7dc; }

#navbar ul li a {
  color: #495045;
  letter-spacing: 4px;
  font-size: 18px;
  font-family: Bangers; }

.navbar-inverse {
  background-color: transparent;
  border-color: transparent; }

.navbar-inverse .navbar-toggle {
  background-color: transparent;
  border-color: transparent; }

.navbar-inverse
.navbar-toggle:hover,
.navbar-inverse
.navbar-toggle:focus {
  background-color: transparent; }

/* Helper Classes ------------------------ */
@media (min-width: 768px) {
  .navbar-inverse,
  .collapse {
    background-color: rgba(255, 255, 255, 0.89);
    border-color: rgba(255, 255, 255, 0.89);
    margin-bottom: -53px; }
  .navbar-inverse .navbar-collapse {
    margin-top: 0px; }
  .large-navbar {
    display: block; }
  .small-navbar {
    display: none; }
  .navbar
.navbar-nav {
    margin-top: 7px;
    float: right; }
  .logo h1 {
    color: #495045;
    font-size: 42px;
    letter-spacing: 5px; } }

@media (max-width: 767px) {
  .navbar
.navbar-nav {
    float: none;
    margin-right: 0px;
    margin-left: 0px; }
  .sub-menu {
    display: none;
    position: absolute;
    background: #9d9d9d;
    padding: 10px 15px;
    width: 200px; }
  li:hover .sub-menu {
    display: block; }
  .logo h1 {
    margin-top: 10px;
    margin-left: 10px;
    color: #fafafa;
    font-size: 35px;
    letter-spacing: 2px; } }

#scroll {
  padding-top: 33em; }
  #scroll img {
    padding-right: 2em;
    padding-left: 3em;
    display: block;
    margin: 0 auto; }
    @media (min-width: 769) {
      #scroll img {
        padding-right: 0px;
        padding-left: 0px; } }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

.ftr-banner {
  width: 100%;
  height: 100px; }

.copyright p {
  margin-top: 37px;
  text-shadow: 0px 0px 19px #000;
  text-align: center;
  color: #000;
  font-size: 24px;
  font-weight: bold; }

.social-icon {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px; }

ul {
  list-style: none; }

.post-meta-key {
  display: none; }

.sidebar {
  margin-left: 43px;
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-box-shadow: 2px 2px 10px #fffff9;
     -moz-box-shadow: 2px 2px 10px #fffff9;
          box-shadow: 2px 2px 10px #fffff9;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }

.textwidget p {
  color: #444; }

.widget {
  margin: 10px 0 30px; }

.widget h3 {
  color: #888; }

.wu-search {
  border: solid; }

.wu-wrapper .wu-search input {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px; }

.wu-day-current-temp,
.wu-cond-text {
  color: #000; }

.wu-current-conditions
.wu-cond-text,
.wu-current-conditions
.wu-cond-icon {
  font-weight: bold; }

.rounded {
  font-family: bangers;
  font-size: 34px;
  color: #495045;
  text-align: center; }

/* Helper Classes --------------------------- */
@media (max-width: 768px) {
  .sidebar {
    display: none; }
  .wu-wrapper
.wu-search
input {
    padding-left: 79px; } }

/* Chassis Sidebar -------- */
#sidebar {
  margin-top: -19px;
  margin-left: 43px;
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding-bottom: 15px; }
  #sidebar h2 {
    margin-top: 0px;
    padding-top: 10px;
    font-size: 34px; }
  #sidebar li {
    font-size: 20px;
    padding-left: 20px; }

/* Chassis Sidebar ------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 0px; }
    #sidebar h2 {
      text-align: center; }
    #sidebar li {
      text-align: center;
      padding-left: 0px;
      padding-bottom: 5px; } }

.blog-content a {
  color: #495045;
  letter-spacing: 2px; }

.blog-content h2 {
  margin-bottom: 0px;
  text-align: left; }

.blog-content p {
  margin-left: 10px;
  font-size: 17px; }

.blog-content img {
  -webkit-box-shadow: 0px 3px 12px #767a7b;
     -moz-box-shadow: 0px 3px 12px #767a7b;
          box-shadow: 0px 3px 12px #767a7b;
  max-width: 100%;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 200px; }

/* Helper Classes ------------------------- */
@media (max-width: 768px) {
  .home-blog-title h2 {
    margin-left: 24px;
    margin-right: 23px; }
  .blog-content {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 25px;
    margin-bottom: 20px; }
    .blog-content img {
      margin-bottom: 0px;
      padding-bottom: 0px; }
    .blog-content p {
      padding-bottom: 1px; } }

@media (max-width: 414px) {
  .home-blog-title h2 {
    margin-left: 15px;
    margin-right: 14px; } }

.blog .col-md-12 {
  margin-top: 100px; }

.blog h2 {
  font-size: 40px; }

.blog h3 {
  text-align: center; }

.blog-single {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-left: 30px; }
  .blog-single h2 {
    text-align: center; }
  .blog-single img {
    display: block; }

/* Helper Classes ----------------------- */
@media (max-width: 768px) {
  .blog-single {
    margin-left: 0px; }
    .blog-single p {
      font-size: 15px; } }

.page-diy img {
  width: 400px; }

/* Helper Classes -------------------------- */
@media (max-width: 768px) {
  .page-diy img {
    margin-top: 0px; } }

.diy-page {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.97); }

.diy-single-title h2 {
  padding-top: 1em;
  font-size: 43px; }

.warnings {
  background-color: yellow !important;
  margin-left: 14px;
  margin-right: 25px; }
  .warnings h2 {
    font-size: 45px; }

.diy-top-boxes,
.parts-list,
.diy-single-text {
  margin-left: 12px;
  margin-right: 22px; }

.diy-single-text {
  padding: 10px; }

.wp-caption-text {
  text-align: center; }

.diy-single-top-bar-wrapper {
  margin-left: -13px;
  margin-right: -13px; }

.warnings,
.required-tools,
.torque-spec,
.parts-list {
  padding: 1px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: #efefef; }
  .warnings p,
  .required-tools p,
  .torque-spec p,
  .parts-list p {
    text-align: center;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px; }

#tool-list {
  margin-top: 0px; }

#tools ul {
  text-align: center; }

#tools li {
  padding-bottom: 5px; }

.tool-list-content {
  padding-bottom: 10px; }
  .tool-list-content li {
    padding-top: 5px; }

.parts-list {
  margin-top: 1px;
  margin-left: 0px;
  margin-right: 0px; }
  .parts-list p {
    font-size: 20px; }

.parts-list p,
.diy-single-text p {
  font-size: 15px; }

.parts-list img,
.diy-single-text img {
  float: left;
  margin-right: 10px; }

.diy-single-image-gallery h2 {
  font-size: 43px; }

.diy-single-image-gallery ul li a img {
  display: block;
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  max-width: 300px; }

.diy-single-image-gallery ul li p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px; }

/* Helper Classes ------------------------ */
@media (max-width: 768px) {
  .diy-single-top-bar-wrapper {
    margin-left: -15px;
    margin-right: -25px; }
  .diy-top-boxes,
  .diy-single-text {
    margin-top: 0px; }
    .diy-top-boxes p,
    .diy-single-text p {
      font-size: 15px; }
  .warnings {
    margin-left: 10px;
    margin-right: 10px; }
  .diy-single-title h2 {
    margin-right: 5px;
    font-size: 37px; }
  .diy-single-text img {
    padding-bottom: 0px;
    float: none; } }

#lift-page-explanation {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid;
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 33px; }
  #lift-page-explanation h2 {
    padding-top: 10px;
    font-size: 43px; }
  #lift-page-explanation p {
    text-align: center;
    font-size: 20px;
    font-size: 20px;
    color: #000; }

.lift-page-container {
  margin-top: 5em;
  padding: 0px; }

.lift-page-title h2 {
  margin-top: 35px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.lift-page-title h5 {
  text-align: center;
  padding-bottom: 5px; }

.lift-page-title img {
  width: 400px; }

.lift-page img {
  margin-top: 1px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  display: block; }

/* Helper Classes ------------------------- */
@media (max-width: 768px) {
  #lift-page-explanation {
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 23px; }
  .row .lift-page {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 20px; }
  .lift-page-image img {
    padding-bottom: 10px; } }

@media (max-width: 414px) {
  #lift-page-explanation {
    margin-left: 10px;
    margin-right: 10px; } }

.lift-sgl-col {
  margin-top: 100px; }

.single-lift {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.97); }
  .single-lift h2 {
    font-size: 35px;
    padding-bottom: 10px; }
  .single-lift img {
    max-width: 100%;
    float: left;
    margin: 10px; }
  .single-lift p {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 5px; }

@media (max-width: 768px) {
  .single-lift {
    margin-left: 0px;
    margin-right: 0px; }
    .single-lift img {
      width: 200px; } }

.col-sm-8, .primary {
  text-align: center;
  padding-bottom: 10px; }

.author {
  padding-top: 10px; }

.archive-bs {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-left: 30px; }

.chassis-header {
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 45px;
  margin-right: 45px; }
  @media (min-width: 768px) {
    .chassis-header {
      margin-top: 90px; } }
  .chassis-header h2, .chassis-header p {
    color: #000;
    text-align: center;
    padding-top: 7px;
    font-family: Bangers; }
  .chassis-header h2 {
    letter-spacing: 3px;
    font-size: 55px; }
    @media (min-width: 768px) {
      .chassis-header h2 {
        padding-top: 40px;
        letter-spacing: 8px; } }
  .chassis-header p {
    margin-bottom: 25px;
    font-size: 35px; }
    @media (min-width: 768px) {
      .chassis-header p {
        letter-spacing: 4px;
        word-spacing: 9px; } }

.banner-chassis-title {
  background-color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }
  @media (min-width: 768px) {
    .banner-chassis-title {
      min-height: 200px; } }

.diy-container {
  padding-top: 5em; }
  @media (min-width: 768px) {
    .diy-container {
      padding-top: 0px; } }

.chassis-row {
  margin-top: -80px; }

.page-diy {
  margin-top: 50px; }
  .page-diy h1 {
    padding: 12px;
    text-align: center;
    font-size: 50px;
    color: #000; }
  .page-diy img {
    margin-top: 0px;
    display: block; }

.chassis-title h2,
.chassis-single-title h2 {
  text-align: center; }

/* Helper Classes ---------------------- */
@media (max-width: 768px) {
  .page-diy {
    margin-top: 0px;
    margin-left: 0px; }
  .chassis-header {
    margin-left: 24px;
    margin-right: 23px; }
    .chassis-header img {
      padding: 10px; }
    .chassis-header h2 {
      font-size: 40px;
      margin-top: 5px; }
    .chassis-header p {
      margin-bottom: 0px;
      font-size: 20px; } }

@media (max-width: 414px) {
  .chassis-header {
    margin-left: 14px;
    margin-right: 14px;
    padding-bottom: 5px; } }

#chassis-single {
  margin-top: 100px; }

.chassis-single-title h2 {
  font-size: 43px; }

.chassis-single-title img {
  text-align: center;
  display: block; }

.chassis-content {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-top: -9px;
  margin-left: 60px;
  padding-bottom: 15px; }

/* Helper Classes -------------------- */
@media (max-width: 768px) {
  .chassis-content {
    margin-top: 30px;
    margin-left: 0px; } }

.about {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-top: 40px; }
  .about h2 {
    font-size: 55px; }
  .about p {
    color: #000;
    font-family: -webkit-pictograph;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px; }

.shop-page h2 {
  text-align: left;
  margin-bottom: 0px; }

.shop-page h5 {
  text-align: left; }

.shop-page-image-content p {
  font-size: 17px; }

.shop-page-image-content img {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 0px; }

/* Helper Classes -------------------------- */
@media (max-width: 768px) {
  .image-gallery img {
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px; }
  .shop-page {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px; }
    .shop-page img {
      padding-bottom: 0px; }
  .shop-page-image-content p {
    font-size: 15px;
    padding-bottom: 10px; }
  .shop-page-image-content img {
    margin-bottom: 0px; } }

.shop-single {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.97);
  margin-top: 55px;
  margin-left: 10px;
  margin-right: 10px; }

.shop-single-content {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }
  .shop-single-content h2 {
    font-size: 35px; }
  .shop-single-content p {
    font-size: 15px;
    text-align: center; }
  .shop-single-content img {
    width: 500px; }

.image-gallery p {
  text-align: left;
  font-size: 15px; }

/* Helper Classes ----------------------- */
@media (max-width: 768px) {
  .image-gallery img {
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 0px; }
  .shop-page {
    margin-top: 30px; }
  .image-section {
    padding-left: 0px; } }

.track-blog-page h2 {
  padding-top: 10px;
  padding-top: 7px;
  font-size: 43px;
  margin-bottom: 10px;
  text-align: left; }

.track-blog-page img {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 200px; }

.track-blog-page {
  margin-left: 25px;
  margin-right: 10px; }
  .track-blog-page p {
    font-size: 18px; }

.page-header {
  margin-bottom: 0px; }

/* Helper Classes ------------------- */
@media (max-width: 768px) {
  .track-blog {
    margin-left: 0px; }
  .page-header {
    padding-bottom: 0px; }
  .track-blog-page {
    margin-left: 0px;
    margin-right: 0px; }
    .track-blog-page p {
      font-size: 15px;
      padding-bottom: 10px; }
    .track-blog-page img {
      margin-bottom: 0px; } }

.track-blog-single {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.97); }
  .track-blog-single h2 {
    font-size: 35px;
    padding-bottom: 10px;
    text-align: center; }

.page-header {
  border-bottom: none; }

.track-blog-single p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px; }

.track-blog-single h3 > p {
  text-align: center; }

.track-blog-single img {
  width: -webkit-fill-available;
  margin-right: 20px;
  margin-left: 20px; }

.video-container {
  margin-left: 25em;
  margin-top: 40px; }

/* Helper Classes ----------------- */
@media (max-width: 768px) {
  .track-blog-single p {
    font-size: 15px; }
  .track-blog-single .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-left: 0px; }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .entry-content img,
  .entry-content iframe,
  .entry-content object,
  .entry-content embed {
    max-width: 100%; } }

.content,
.tool-list {
  background-color: #fff;
  border: 1px solid;
  padding: 20px; }
  .content img,
  .tool-list img {
    float: left; }
  .content h2,
  .tool-list h2 {
    text-align: left;
    margin-top: 6px; }
  .content p,
  .tool-list p {
    padding: 10px;
    font-size: 17px; }

/* Helper Classes ------------------ */
@media (max-width: 769px) {
  .content img,
  .tool-list img {
    margin-top: 22px; }
  .content p,
  .tool-list p {
    padding: 0px;
    font-size: 15px; } }

.search-content {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.97);
  margin-left: 30px;
  border: 1px solid; }

@media (max-width: 768px) {
  .search-content {
    margin-left: 0px; } }

/*# sourceMappingURL=app.css.map */
