/* Manifest ------------ */
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Muli:400");
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Variables ------------- */
body {
  font-family: 'Fanwood Text', serif, 'Open+Sans', 'Bangers';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  width: 100%; }
  @media (min-width: 1000px) {
    .container {
      margin-top: 100px; } }

.col-sm-8 {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .col-sm-8 {
      padding: 0px; } }
  @media (min-width: 768px) {
    .col-sm-8 {
      margin-top: 50px;
      margin-bottom: 50px; } }

.header-parallax {
  height: -webkit-fill-available;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }
  @media (min-width: 1024px) {
    .header-parallax {
      height: 555px; } }

.parallax {
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.affix {
  top: 0;
  width: 100%;
  z-index: 1000; }

.affix + .container-fluid {
  padding-top: 70px; }

.page-header {
  border-bottom: none; }

p {
  font-family: "Asap", "Muli", "sans-serif"; }

h2 {
  margin-top: 0px;
  letter-spacing: 2px;
  text-align: center;
  font-family: Bangers;
  color: #495045; }

img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px; }

h5 {
  text-align: initial;
  margin: 0px;
  font-size: 10px; }

.container p {
  text-align: left; }

h1 {
  display: block;
  margin: 0 auto; }

p {
  font-size: 15px; }

ul {
  padding: 0px; }

.post-categories li {
  display: inline; }

.blog-navigation {
  padding-bottom: 10px; }
  .blog-navigation ul {
    display: -webkit-box; }
    .blog-navigation ul a {
      padding-left: 5px;
      color: #495045; }
    .blog-navigation ul a:hover {
      color: #22b7dc; }

.blog-read-more-button {
  padding-top: 7px;
  text-align: center;
  background-color: #22b7dc;
  height: 34px;
  width: 90px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 2px 2px 14px #a6b8bb;
     -moz-box-shadow: 2px 2px 14px #a6b8bb;
          box-shadow: 2px 2px 14px #a6b8bb; }
  .blog-read-more-button a {
    color: #f5f5f5 !important; }
  .blog-read-more-button a:hover {
    color: #efefef !important;
    text-transform: capitalize;
    font-weight: bold; }

@media (max-width: 500px) {
  .search-form {
    padding-top: 50px;
    padding-left: 6px; } }

@media (min-width: 768px) {
  .search-form {
    padding-top: 4px; } }

@media (min-width: 1024px) {
  .search-form {
    padding-top: 21px; } }

.search-form form {
  height: 0px; }

.search-form label, .search-form input {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  color: #f5f5f5; }
  @media (min-width: 1024px) {
    .search-form label, .search-form input {
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      line-height: 14px; } }

@media (min-width: 768px) {
  .search-form {
    padding-right: 12px;
    text-align: right;
    font-size: 10px;
    padding-bottom: 10px; } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .search-form {
      padding-right: 48px;
      text-align: right; } }

#searchsubmit, #s {
  font-size: 10px;
  color: #000; }
  @media (min-width: 1024px) {
    #searchsubmit, #s {
      font-size: 14px; } }

#searchsubmit:hover {
  color: #22b7dc; }

.large-navbar {
  display: none; }

.navbar-collapse {
  padding: 0px; }

#nav-icon2 {
  z-index: 1000;
  width: 45px;
  height: 45px;
  position: relative;
  margin-top: 11px;
  margin-right: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #fafafa;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon2 span:nth-child(even) {
  left: 50%;
  -webkit-border-radius: 0 9px 9px 0;
     -moz-border-radius: 0 9px 9px 0;
          border-radius: 0 9px 9px 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  -webkit-border-radius: 9px 0 0 9px;
     -moz-border-radius: 9px 0 0 9px;
          border-radius: 9px 0 0 9px; }

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px; }

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 11px; }

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 23px; }

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#nav-icon2.open span:nth-child(1) {
  left: 2px;
  top: 7px; }

#nav-icon2.open span:nth-child(2) {
  left: -webkit-calc(50% - 5px);
  left: -moz-calc(50% - 5px);
  left: calc(50% - 5px);
  top: 9px; }

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon2.open span:nth-child(5) {
  left: 2px;
  top: 24px; }

#nav-icon2.open span:nth-child(6) {
  left: -webkit-calc(50% - 4px);
  left: -moz-calc(50% - 4px);
  left: calc(50% - 4px);
  top: 23px; }

@media (max-width: 766px) {
  .sm-nav-img {
    display: none; } }

.navbar {
  border: none; }
  .navbar .nav-banner {
    height: 100px; }
    @media (max-width: 736px) {
      .navbar .nav-banner {
        display: initial; } }

.nav-logo {
  margin-top: 3px;
  float: left; }
  @media (min-width: 768px) {
    .nav-logo {
      padding-left: 50px; } }
  .nav-logo a {
    text-decoration: none; }
  .nav-logo h1 {
    padding-top: 6px;
    font-family: Bangers;
    text-transform: uppercase;
    color: #efefef;
    letter-spacing: 4px;
    font-size: 26px; }
    @media (min-width: 768px) {
      .nav-logo h1 {
        padding-top: 31px; } }
    @media (min-width: 768px) {
      .nav-logo h1 {
        padding-top: 34px;
        font-size: 21px; } }
    @media (min-width: 1025px) {
      .nav-logo h1 {
        padding-top: 24px;
        font-size: 47px; } }
  .nav-logo h1:hover {
    color: #22b7dc; }

.navbar-inverse .navbar-collapse {
  background-color: rgba(60, 60, 60, 0.86);
  border-color: transparent; }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-collapse {
      margin-top: -6em; } }
  @media (min-width: 768px) {
    .navbar-inverse .navbar-collapse {
      border-color: #000;
      background-color: transparent; } }

.navbar-collapse.in {
  overflow-y: visible; }

.navbar-fixed-top .navbar-collapse {
  max-height: inherit;
  height: -webkit-fill-available;
  width: 60%; }
  @media (min-width: 568px) {
    .navbar-fixed-top .navbar-collapse {
      height: initial; } }
  @media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
      width: initial; } }

.nav-tab-col {
  margin-top: 22px;
  padding: 0px; }
  @media (min-width: 768px) {
    .nav-tab-col {
      padding-right: 50px; } }

@media (min-width: 768px) {
  .navbar
.navbar-nav {
    padding-top: 20px;
    float: right; } }

@media (min-width: 1024px) {
  .navbar
.navbar-nav {
    margin-right: 31px;
    padding-top: 30px; } }

.navbar-collapse {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

.nav .nav-item a {
  font-size: 20px; }

.navbar-inverse
.navbar-nav > li > a {
  color: #f5f5f5;
  color: #fff;
  display: inline-block; }
  @media (min-width: 1024px) {
    .navbar-inverse
.navbar-nav > li > a {
      font-size: 40px; } }

.navbar-nav > li > a {
  padding-top: 11px;
  padding-bottom: 7px; }
  @media (min-width: 568px) {
    .navbar-nav > li > a {
      padding-bottom: 4px; } }

.sub-menu li {
  margin-bottom: 10px;
  list-style: none; }

.sub-menu li:last-child {
  margin-bottom: 0; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.nav > li > a {
  padding: 10px 14px; }

#navbar ul li a:hover {
  color: #22b7dc; }

#navbar ul li a {
  letter-spacing: 2px;
  color: #efefef;
  font-family: Bangers; }
  @media (min-width: 768px) {
    #navbar ul li a {
      letter-spacing: 1px;
      font-size: 11px; } }
  @media (min-width: 1200px) {
    #navbar ul li a {
      letter-spacing: 4px;
      font-size: 18px; } }

.navbar-inverse {
  background-color: transparent;
  border-color: transparent; }
  @media (min-width: 1024px) {
    .navbar-inverse {
      margin-top: 0px; } }

.navbar-inverse .navbar-toggle {
  background-color: transparent;
  border-color: transparent; }

.navbar-inverse
.navbar-toggle:hover,
.navbar-inverse
.navbar-toggle:focus {
  background-color: transparent; }

@media (min-width: 1024px) {
  .navbar-inverse,
  .collapse {
    margin-bottom: -100px; }
  .large-navbar {
    display: block; }
  .small-navbar {
    display: none; } }

@media (max-width: 767px) {
  .navbar
.navbar-nav {
    margin-top: 3em;
    padding-left: 10px;
    float: none; }
  .sub-menu {
    display: none;
    position: absolute;
    background: #9d9d9d;
    padding: 10px 15px;
    width: 200px; }
  li:hover .sub-menu {
    display: block; } }

#scroll {
  padding-top: 33em; }
  @media (min-width: 375px) {
    #scroll {
      padding-top: 38em; } }
  @media (min-width: 414px) {
    #scroll {
      padding-top: 42em; } }
  @media (min-width: 568px) {
    #scroll {
      padding-top: 16em; } }
  @media (min-width: 768px) {
    #scroll {
      padding-top: 62em; } }
  @media (min-width: 1024px) {
    #scroll {
      padding-top: 30em; } }
  #scroll img {
    width: initial;
    padding-right: 2em;
    padding-left: 3em;
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      #scroll img {
        padding-right: 0px;
        padding-left: 0px; } }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

footer {
  background-color: #888;
  clear: both; }

.ftr-nav {
  z-index: 1000; }

.copyright p {
  text-align: center;
  color: #efefef;
  font-weight: bold; }
  @media (min-width: 768px) {
    .copyright p {
      margin-top: 22px;
      float: right;
      padding-right: 52px;
      font-size: 13px; } }
  @media (min-width: 1025px) {
    .copyright p {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 16px; } }

ul {
  list-style: none; }

.post-meta-key {
  display: none; }

@media (min-width: 1025px) {
  #footer-nav {
    padding-top: 33px; } }

#menu-menu-3 {
  padding-left: 0px;
  line-height: 3em;
  text-align: center;
  text-shadow: 0px 2px 6px #000; }
  #menu-menu-3 a {
    letter-spacing: 2px;
    padding-left: 5px;
    padding-right: 5px; }
  #menu-menu-3 a:hover {
    color: #22b7dc; }
  @media (min-width: 768px) {
    #menu-menu-3 {
      margin-top: 11px;
      padding-left: 48px; } }
  @media (min-width: 1024px) {
    #menu-menu-3 {
      margin-top: 4px;
      padding-left: 40px; } }

.bottomMenu {
  display: block;
  width: 100%; }
  @media (min-width: 414px) {
    .bottomMenu .bottomMenu {
      padding-left: 20px; } }
  .bottomMenu ul {
    display: inline;
    float: left; }
    .bottomMenu ul li {
      border-right: thin solid #efefef;
      list-style-type: none;
      display: inline; }
      .bottomMenu ul li:last-child > a {
        border-right: none; }
      .bottomMenu ul li a {
        color: #efefef;
        font-size: 13px; }
        @media (min-width: 768px) {
          .bottomMenu ul li a {
            padding: 0px; } }
        @media (min-width: 1024px) {
          .bottomMenu ul li a {
            font-size: 15px;
            letter-spacing: 2px;
            line-height: 15px;
            text-decoration: none;
            font-weight: bold;
            padding: 0 7px 0 3px; } }
        .bottomMenu ul li a:hover {
          color: #fff;
          text-decoration: underline; }

.sidebar {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 33px;
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-box-shadow: 2px 2px 10px #fffff9;
     -moz-box-shadow: 2px 2px 10px #fffff9;
          box-shadow: 2px 2px 10px #fffff9;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }
  @media (max-width: 767px) {
    .sidebar {
      display: none; } }

.textwidget p {
  color: #444; }

.textwidget .twitter-timeline {
  min-width: unset !important; }

.widget h3 {
  color: #888; }

.wu-search {
  border: solid; }

.wu-wrapper .wu-search input {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px; }
  @media (max-width: 768px) {
    .wu-wrapper .wu-search input {
      font-size: 12px;
      padding: 0px 0px 0px 27.25px; } }
  @media (min-width: 1024px) {
    .wu-wrapper .wu-search input {
      padding: 10px 9em 10px 31.25px; } }

.wu-day-current-temp,
.wu-cond-text {
  color: #000; }

.wu-current-conditions
.wu-cond-text,
.wu-current-conditions
.wu-cond-icon {
  font-weight: bold; }

.rounded {
  font-family: bangers;
  color: #495045;
  text-align: center; }

/* Helper Classes --------------------------- */
@media (min-width: 769px) {
  .wu-wrapper
.wu-search
input {
    padding-left: 79px; } }

/* Chassis Sidebar -------- */
#sidebar-widget {
  margin-top: 50px; }

#sidebar {
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 30px;
  padding-bottom: 40px; }
  #sidebar h2 {
    margin-top: 0px;
    padding-top: 40px; }
  #sidebar .tool-list ol {
    padding-top: 5px; }
  #sidebar li {
    font-size: 20px;
    padding-left: 20px; }

/* Chassis Sidebar ------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: 0px; }
    #sidebar h2 {
      text-align: center; }
    #sidebar li {
      text-align: center;
      padding-left: 0px;
      padding-bottom: 5px; } }

.blog-content {
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 33px; }
  @media (min-width: 768px) {
    .blog-content {
      margin-bottom: 20px; } }
  .blog-content a {
    color: #495045;
    letter-spacing: 2px; }
  .blog-content h2 {
    padding-top: 20px;
    margin-bottom: 0px;
    text-align: left; }
  .blog-content p {
    font-size: 17px; }
  .blog-content img {
    -webkit-box-shadow: 0px 3px 12px #767a7b;
       -moz-box-shadow: 0px 3px 12px #767a7b;
            box-shadow: 0px 3px 12px #767a7b;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 200px;
    height: unset; }

@media (max-width: 414px) {
  .home-blog-title h2 {
    margin-left: 15px;
    margin-right: 14px; } }

.single-col {
  margin-top: 50px; }

.diy-page h1 {
  text-align: center;
  padding-top: 40px; }
  @media (min-width: 769px) {
    .diy-page h1 {
      padding-top: 0px; } }

.diy-page img {
  -webkit-box-shadow: 0px 0px 13px #444;
     -moz-box-shadow: 0px 0px 13px #444;
          box-shadow: 0px 0px 13px #444;
  display: block;
  margin: auto; }
  @media (min-width: 768px) {
    .diy-page img {
      width: 500px; } }

/* Helper Classes -------------------------- */
@media (max-width: 768px) {
  .page-diy img {
    margin-top: 0px; } }

.diy-single {
  background-color: rgba(255, 255, 255, 0.89); }
  .diy-single a {
    color: #495045; }

.diy-single-title h2 {
  margin-top: 0px;
  padding-top: 1em;
  font-size: 43px; }
  @media (min-width: 1025px) {
    .diy-single-title h2 {
      margin-top: 20px; } }
  @media (min-width: 1300px) {
    .diy-single-title h2 {
      font-size: 50px; } }

@media (max-width: 767px) {
  .diy-single-text h2 {
    margin-top: 20px; } }

@media (max-width: 767px) {
  .diy-top-boxes {
    margin: 0px; } }

@media (max-width: 767px) {
  .warning-col {
    padding: 0px; } }

.warnings {
  background-color: yellow !important; }
  .warnings h2 {
    font-size: 45px; }
  .warnings p {
    margin-bottom: 20px; }

.pl-ts-rt-col {
  margin-top: 20px;
  padding-left: 62px;
  padding-right: 31px; }
  @media (max-width: 767px) {
    .pl-ts-rt-col {
      padding-left: 0px;
      padding-right: 0px; } }

@media (min-width: 768px) {
  .diy-single-text {
    padding: 46px; } }

.wp-caption-text {
  text-align: center; }

@media (min-width: 768px) {
  .diy-top-boxes h2 {
    font-size: 19px; } }

@media (min-width: 1300px) {
  .diy-top-boxes h2 {
    font-size: 46px; } }

.warnings,
.required-tools,
.torque-spec,
.parts-list {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: #efefef; }
  @media (min-width: 768px) {
    .warnings,
    .required-tools,
    .torque-spec,
    .parts-list {
      margin-left: 32px;
      margin-right: 32px; } }
  @media (max-width: 767px) {
    .warnings,
    .required-tools,
    .torque-spec,
    .parts-list {
      margin-top: 20px; } }
  .warnings p:last-child,
  .required-tools p:last-child,
  .torque-spec p:last-child,
  .parts-list p:last-child {
    margin-bottom: 20px; }
  .warnings p,
  .required-tools p,
  .torque-spec p,
  .parts-list p {
    text-align: center;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px; }
  @media (min-width: 1300px) {
    .warnings p, .warnings a,
    .required-tools p,
    .required-tools a,
    .torque-spec p,
    .torque-spec a,
    .parts-list p,
    .parts-list a {
      font-size: 30px; } }

#tool-list {
  margin-top: 0px; }

#tools ul {
  text-align: center; }
  #tools ul li:last-child {
    margin-bottom: 20px; }

#tools li {
  padding-bottom: 5px; }

.tool-list-content {
  padding-bottom: 10px; }
  .tool-list-content li {
    padding-top: 5px; }

.parts-list {
  margin-top: 1px;
  margin-left: 0px;
  margin-right: 0px; }
  .parts-list p {
    font-size: 20px; }

.parts-list p,
.diy-single-text p {
  font-size: 15px; }
  @media (min-width: 1300px) {
    .parts-list p,
    .diy-single-text p {
      font-size: 30px; } }

.parts-list img,
.diy-single-text img {
  width: 65%;
  float: left;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .parts-list img,
    .diy-single-text img {
      width: 32%; } }

@media (max-width: 767px) {
  .diy-single-image-gallery .col-sm-4 {
    padding: 0px; } }

@media (min-width: 768px) {
  .diy-single-image-gallery {
    padding-left: 10px;
    padding-right: 10px; } }

@media (min-width: 1024px) {
  .diy-single-image-gallery {
    padding-left: 0px;
    padding-right: 0px; } }

.diy-single-image-gallery h2 {
  font-size: 43px; }

.diy-single-image-gallery ul li a img {
  display: block;
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 0px; }
  @media (min-width: 1024px) {
    .diy-single-image-gallery ul li a img {
      width: 100%;
      height: 250px; } }
  @media (min-width: 1300px) {
    .diy-single-image-gallery ul li a img {
      height: 100%; } }

.diy-single-image-gallery ul li p {
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px; }
  @media (min-width: 1300px) {
    .diy-single-image-gallery ul li p {
      font-size: 30px; } }

.diy-single-image-gallery ul li p:last-child {
  padding-bottom: 20px; }

@media (min-width: 768px) {
  .img-gallery {
    padding: 32px; } }

.img-gallery .container {
  margin-top: 0px; }

/* Helper Classes ------------------------ */
@media (max-width: 768px) {
  .diy-top-boxes,
  .diy-single-text {
    margin-top: 0px; }
    .diy-top-boxes p,
    .diy-single-text p {
      font-size: 15px; }
  .diy-single-title h2 {
    margin-right: 5px;
    font-size: 30px; } }
  @media (max-width: 768px) and (min-width: 1025px) {
    .diy-single-title h2 {
      font-size: 37px; } }

.lift-page-container {
  padding: 0px; }
  @media (min-width: 1025px) {
    .lift-page-container {
      margin-top: 5em; } }

.row .lift-page {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 25px; }
  @media (min-width: 1025px) {
    .row .lift-page {
      margin-left: 10px;
      margin-right: 10px; } }

.lift-page-title {
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 33px; }
  .lift-page-title h2 {
    padding-top: 16px; }
  .lift-page-title h5 {
    text-align: center;
    padding-bottom: 5px; }

.lift-page-image img {
  margin-bottom: 10px;
  display: block;
  margin: auto; }
  @media (min-width: 768px) {
    .lift-page-image img {
      width: 400px; } }

.lift-page img {
  margin-top: 1px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  display: block; }

.lift-sgl-col {
  padding: 33px; }
  @media (min-width: 1025px) {
    .lift-sgl-col {
      margin-top: 100px; } }

.single-lift {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.89);
  margin-left: 0px;
  margin-right: 0px;
  padding: 43px; }
  .single-lift h2 {
    font-size: 35px; }
  @media (min-width: 1025px) {
    .single-lift img, .single-lift p {
      margin-bottom: 27px; } }
  .single-lift img {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px; }
    @media (min-width: 1025px) {
      .single-lift img {
        margin-top: 18px;
        margin-right: 10px;
        width: 400px;
        float: left; } }
  .single-lift p {
    margin-bottom: 27px;
    font-size: 16px; }
    @media (min-width: 1300px) {
      .single-lift p {
        font-size: 25px; } }

@media (min-height: 768px) {
  .col-sm-8, .primary {
    text-align: initial; } }

.author {
  padding-top: 10px; }

.archive-bs {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }

.chassis-container {
  margin-top: 0px; }

.chassis-header {
  margin-top: 30px;
  margin: 33px; }
  @media (min-width: 1024px) {
    .chassis-header {
      margin-top: 150px; } }
  .chassis-header h2, .chassis-header p {
    color: #000;
    text-align: center;
    padding-top: 7px;
    font-family: Bangers; }
  .chassis-header h2 {
    letter-spacing: 3px;
    font-size: 55px; }
    @media (min-width: 1025px) {
      .chassis-header h2 {
        padding-top: 40px;
        letter-spacing: 8px; } }
  .chassis-header p {
    margin-bottom: 25px;
    font-size: 35px; }
    @media (min-width: 1025px) {
      .chassis-header p {
        letter-spacing: 4px;
        word-spacing: 9px; } }

.diy-pg-container {
  margin-top: 0px; }
  .diy-pg-container .col-md-8 {
    margin-top: 10px; }
    @media (min-width: 768px) {
      .diy-pg-container .col-md-8 {
        margin: 50px 27px 50px 25px;
        padding-bottom: 40px; } }

.banner-chassis-title {
  background-color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }
  @media (min-width: 1025px) {
    .banner-chassis-title {
      min-height: 200px; } }

.chassis-page {
  background-color: rgba(255, 255, 255, 0.89);
  padding: 33px; }
  .chassis-page h2 {
    padding-top: 12px; }
    .chassis-page h2 a {
      color: #495045; }
    .chassis-page h2 a:hover {
      color: #22b7dc; }
  .chassis-page img {
    -webkit-box-shadow: 0px 0px 13px #444;
       -moz-box-shadow: 0px 0px 13px #444;
            box-shadow: 0px 0px 13px #444;
    display: block;
    margin: auto; }
    @media (min-width: 1024px) {
      .chassis-page img {
        width: 500px; } }

.chassis-title h2,
.chassis-single-title h2 {
  text-align: center; }

/* Helper Classes ---------------------- */
@media (max-width: 768px) {
  .diy-page {
    margin-top: 0px;
    margin-left: 0px; }
  .chassis-header {
    margin-left: 39px;
    margin-right: 42px; }
    .chassis-header img {
      padding: 10px; }
    .chassis-header h2 {
      font-size: 40px;
      margin-top: 5px;
      padding-top: 15px; }
    .chassis-header p {
      margin-bottom: 0px;
      padding-bottom: 15px;
      font-size: 20px; } }

@media (max-width: 414px) {
  .chassis-header {
    margin-left: 14px;
    margin-right: 14px;
    padding-bottom: 5px; } }

.chassis-single-title {
  padding: 33px; }
  .chassis-single-title img {
    display: block;
    margin: auto; }
    @media (min-width: 1024px) {
      .chassis-single-title img {
        width: initial; } }
  .chassis-single-title p {
    padding: 10px; }

.chassis-content {
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding-bottom: 15px; }

@media (max-width: 767px) {
  .about-col {
    padding: 0px; } }

.about-page {
  margin-top: 50px;
  margin-bottom: 50px; }

.about-content {
  background-color: rgba(255, 255, 255, 0.89);
  padding: 33px; }
  .about-content p {
    margin: 0px;
    line-height: 30px;
    color: #000; }
    @media (min-width: 1300px) {
      .about-content p {
        font-size: 25px;
        line-height: 40px; } }

.shop-page {
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding-top: 15px;
  padding: 30px; }
  .shop-page h2 {
    margin-top: 0px;
    text-align: left;
    margin-bottom: 0px; }
  .shop-page h5 {
    text-align: left; }

.shop-page-image-content p {
  font-size: 17px;
  padding-bottom: 10px; }

.shop-page-image-content img {
  width: 200px;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 0px; }

/* Helper Classes -------------------------- */
@media (max-width: 768px) {
  .image-gallery img {
    background-color: rgba(255, 255, 255, 0.97);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px; }
  .shop-page img {
    padding-bottom: 0px; }
  .shop-page-image-content p {
    font-size: 15px;
    padding-bottom: 10px; }
  .shop-page-image-content img {
    margin-bottom: 0px; } }

.sgl-shop-container {
  width: 100%; }
  @media (max-width: 767px) {
    .sgl-shop-container .col-sm-12 {
      padding: 0px; } }
  @media (min-width: 1024px) {
    .sgl-shop-container {
      margin-top: 150px; } }

.shop-single {
  margin-top: 50px;
  padding-top: 33px;
  padding-bottom: 33px;
  margin-bottom: 50px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.89);
  margin-left: 0px;
  margin-right: 0px; }

.shop-single-content img {
  width: 85%;
  display: block;
  margin: auto; }
  @media (min-width: 768px) {
    .shop-single-content img {
      width: 500px; } }

.shop-single-content h2 {
  font-size: 35px;
  margin-bottom: 0px; }

.shop-single-content h5, .shop-single-content p {
  text-align: center; }

.shop-single-content img {
  margin-top: 10px; }

.shop-single-content p {
  font-size: 15px; }

.image-gallery .col-md-4 {
  padding-left: 7px;
  padding-right: 7px; }
  @media (min-width: 768px) {
    .image-gallery .col-md-4 {
      padding-left: 15px;
      padding-right: 15px; } }

.image-gallery img {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 0px; }
  @media (min-width: 1024px) {
    .image-gallery img {
      height: 300px; } }
  @media (min-width: 1300px) {
    .image-gallery img {
      height: 500px; } }

.image-gallery p {
  text-align: left;
  font-size: 15px; }

.track-blog-page {
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 33px; }

.track-pg-content h2 {
  text-align: left; }

.track-pg-content img {
  width: 200px;
  text-align: left; }

.track-blog {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media (min-width: 1025px) {
    .track-blog {
      margin-top: 150px;
      margin-bottom: 50px; } }
  .track-blog .col-sm-12 {
    padding: 0px; }

.track-blog-single-content {
  background-color: rgba(255, 255, 255, 0.89);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 33px; }
  .track-blog-single-content h2 {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 10px; }
  .track-blog-single-content img {
    width: 100%; }

.video-container {
  margin-top: 40px; }
  @media (min-width: 1025px) {
    .video-container {
      margin-left: 22em; } }

/* Helper Classes ----------------- */
@media (max-width: 768px) {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-left: 0px; }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .entry-content img,
  .entry-content iframe,
  .entry-content object,
  .entry-content embed {
    max-width: 100%; } }

#tool-list-archive {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    #tool-list-archive {
      padding-left: 42px;
      padding-right: 42px; } }
  @media (min-width: 1024px) {
    #tool-list-archive {
      margin-top: 150px; } }

.tool-list {
  background-color: rgba(255, 255, 255, 0.97);
  padding: 20px; }
  .tool-list h2 {
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 10px; }
  .tool-list img {
    display: block;
    margin: auto;
    width: initial; }
  .tool-list p {
    padding: 10px;
    font-size: 17px; }

.search-content {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.97); }

@media (max-width: 768px) {
  .search-content {
    margin-left: 0px; } }

.image-holder img {
  margin-top: 16px; }

.blog-excerpt p {
  padding: 14px; }

.blog-excerpt .blog-read-more-button {
  margin-left: 14px; }

/*# sourceMappingURL=app.css.map */
