.about-col {

	@media ( max-width: 767px ) {
		padding: 0px;
	}
}

.about-page {
	margin-top: 50px;
	margin-bottom: 50px;
}

.about-content {
	background-color: $white-transparent;
	padding: 33px;

		p {
		margin: 0px;
		line-height: 30px;
		color: $black;

		@media ( min-width: 1300px ) {
			font-size: 25px;
			line-height: 40px;
		}
	}
}
