.about {
	background-color: $col-color;
	border-radius: 5px;
	margin-top: 40px;
	h2 {
		font-size: 55px;
	}
		p {
		color: #000;
		font-family: -webkit-pictograph;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
	}
}
