.col-sm-8, .primary {
	text-align: center;

	@media ( min-height: 768px ) {
		text-align: initial;
	}
}

.author {
	padding-top: 10px;
}

.archive-bs {
	background-color: $col-color;
	border-radius: $col-radius;
}