.col-sm-8, .primary {
	text-align: center;
	padding-bottom: 10px;
}

.author {
	padding-top: 10px;
}

.archive-bs {
	background-color: $col-color;
	border-radius: $col-radius;
	margin-left: $col-margin-left;
}