.single-container {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;

	.col-md-8 {
		margin-top: 0px;

		@media ( min-width: 768px ) {
			margin-top: 50px;
		}

		margin-bottom: 0px;
	}
}

.blog-single-content {
	@media ( min-width: 768px ) {
		padding: 20px;
	}
}