.blog {
	h2 {
		font-size: 40px;
	}
	h3 {
		text-align: center;
	}
}

.blog-single {
	background-color: $col-color;
	border-radius: $col-radius;
	margin-left: $col-margin-left;
	border: $border;
	h2 {
		text-align: center;
	}
	img {
		display: block;
	}
}

/* Helper Classes ----------------------- */
@media ( max-width: 768px ) {
	.blog-single {
		margin-left: 0px;
			p {
				font-size: 15px;
		}
	}
}