.diy-container {
	margin-top: 0px;
}

.chassis-header {
	margin-top: 30px;

	@media ( min-width: 1024px ) {
		margin-top: 150px;
	}

	margin-left: 42px;
	margin-right: 42px;

	h2, p {
		color: $black;
		text-align: center;
		padding-top: 7px;
		font-family: Bangers;
	}

	h2 {
		@media ( min-width: 1025px ) {
			padding-top: 40px;
			letter-spacing: 8px;
		}

		letter-spacing: 3px;
		font-size: 55px;
	}

	p {
		margin-bottom: 25px;
		font-size: 35px;

		@media ( min-width: 1025px ) {
			letter-spacing: 4px;
			word-spacing: 9px;
		}
	}
}

.diy-pg-container {
	margin-top: 0px;

	.col-md-8 {
		margin-top: 10px;

		@media ( min-width: 768px ) {
			margin: 50px 27px 50px 25px;
			padding-bottom: 40px;
		}
	}
}

.banner-chassis-title {
	background-color: $white;

	@media ( min-width: 1025px ) {
		min-height: 200px;
	}

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: $col-radius;
}

.diy-page {
	padding-top: 5px;
	padding-bottom: 30px;

	h2 {
		a {
			color: $grey-green;
		}

		a:hover {
			color: $light-blue;
		}
	}

	img {
		margin-top: 0px;
		margin-bottom: 0px;
		display: block;
	}
}

.chassis-title,
.chassis-single-title {
	h2 {
		text-align: center;
	}
}

/* Helper Classes ---------------------- */
@media (max-width: 768px) {
	.diy-page {
		margin-top: 0px;
		margin-left: 0px;
	}

	.chassis-header {
		margin-left: 39px;
		margin-right: 42px;

		img {
			padding: 10px;
		}

		h2 {
			font-size: 40px;
			margin-top: 5px;
			padding-top: 15px;
		}

		p {
			margin-bottom: 0px;
			padding-bottom: 15px;
			font-size: 20px;
		}
	}
}

@media ( max-width: 414px ) {
	.chassis-header {
		margin-left: 14px;
		margin-right: 14px;
		padding-bottom: 5px;
	}
}