#chassis-single {

	@media ( min-width: 1025px ) {
		margin-top: 150px;
		margin-bottom: 50px;
	}
}

.chassis-single-title {
	h2 {
		padding-top: 40px;

		@media ( min-width: 769px ) {
			padding-top: initial;
		}
	}

	img {
		@media ( min-width: 768px ) {
			width: initial;
		}

		display: block;
		margin: auto;
	}

	p {
		padding: 10px;
	}
}

.chassis-content {
	background-color: $col-color;
	border-radius: $col-radius;
	margin-left: 27px;
	padding-bottom: 15px;
}

/* Helper Classes -------------------- */
@media ( max-width: 768px ) {
	.chassis-content {
		margin-top: 40px;
		margin-left: 0px;
	}
}