.chassis-header {
	background-color: $col-color;
	margin-left: 45px;
	margin-right: 45px;
	border-radius: $col-radius;
	margin-top: 90px;
	margin-bottom: 30px;
	h2, p {
		color: #000;
		text-align: center;
		padding-top: 7px;
		font-family: Bangers;
	}
	h2 {
		font-size: 55px;
	}
	p {
		margin-bottom: 25px;
		font-size: 35px;
	}
	img {
		text-align: center;
		display: block;
		width: 400px;
	}
}

.diy-container {
	padding-top: 0px;
}

.chassis-row {
	margin-top: -80px;
}

.page-diy {
	margin-top: 50px;
	h1 {
		padding: 12px;
		text-align: center;
		font-size: 50px;
		color: #000;
	}
	img {
		margin-top: 0px;
		display: block;
	}
}

.chassis-title,
.chassis-single-title {
	h2 {
		text-align: center;
	}
}

/* Helper Classes ---------------------- */
@media (max-width: 768px) {
	.page-diy {
		margin-top: 0px;
		margin-left: 0px;
	}
	.chassis-header {
		margin-left: 24px;
		margin-right: 23px;
		img {
			padding: 10px;
		}
		h2 {
			font-size: 40px;
			margin-top: 5px;
		}
		p {
			margin-bottom: 0px;
			font-size: 20px;
		}
	}
}

@media ( max-width: 414px ) {
	.chassis-header {
		margin-left: 14px;
		margin-right: 14px;
		padding-bottom: 5px;
	}
}