#chassis-single {
}

.chassis-single-title {
	padding: 33px;

	img {
		@media ( min-width: 1024px ) {
			width: initial;
		}

		display: block;
		margin: auto;
	}

	p {
		padding: 10px;
	}
}

.chassis-content {
	background-color: $white-transparent;
	border-radius: $col-radius;
	padding-bottom: 15px;
}
