.diy-single {
	background-color: $white-transparent;

	a {
		color: $grey-green;
	}
}

.diy-single-title {
	h2 {
		margin-top: 0px;

		@media ( min-width: 1025px ) {
			margin-top: 20px;
		}

		padding-top: 1em;
		font-size: 43px;

		@media ( min-width: 1300px ) {
			font-size: 50px;
		}
	}
}

.diy-single-text {
	@media ( max-width: 767px ) {
		h2 {
			margin-top: 20px;
		}
	}

	@media ( min-width: 1300px ) {
		h2 {
			font-size: 50px;
		}
	}
}

.diy-top-boxes {
	@media ( max-width: 767px ) {
		margin: 0px;
	}
}

.warning-col {
	@media ( max-width: 767px ) {
		padding: 0px;
	}
}

.warnings {
	background-color: yellow !important;

	h2 {
		font-size: 45px;
	} 
	p {
		margin-bottom: 20px;
	}
}

.pl-ts-rt-col {
	margin-top: 20px;
	padding-left: 62px;
	padding-right: 31px;

		@media ( max-width: 767px ) {
			padding-left: 0px;
			padding-right: 0px;
		}
}

.diy-top-boxes,
.parts-list {

}

.diy-single-text {
	@media ( min-width: 768px ) {
		padding: 46px;
	}
}

.wp-caption-text {
	text-align: center;
}

.diy-top-boxes {
	h2 {
		@media ( min-width: 768px ) {
			font-size: 19px;
		}

		@media ( min-width: 1300px ) {
			font-size: 46px;
		}
	}
}

.warnings,
.required-tools,
.torque-spec,
.parts-list {
	@media ( min-width: 768px ) {
		margin-left: 32px;
		margin-right: 32px;
	}

	padding-top: 20px;
	padding-bottom: 20px;

	@media ( max-width: 767px ) {
		margin-top: 20px;
	}

	border-radius: $col-radius;
	background-color: $light-grey;

	p:last-child {
		margin-bottom: 20px;
	}

	p {
		text-align: center;
		font-size: 15px;
		padding-left: 5px;
		padding-right: 5px;
	}

	p, a {
		@media ( min-width: 1300px ) {
			font-size: 30px;
		}
	}
}

#tool-list {
	margin-top: 0px;
}

#tools {
	ul {
		text-align: center;
		li:last-child {
			margin-bottom: 20px;
		}
	}

	li {
		padding-bottom: 5px;
	}
}

.tool-list-content {
	padding-bottom: 10px;

	li {
		padding-top: 5px;
	}
}

.parts-list {
	margin-top: 1px;
	margin-left: 0px;
	margin-right: 0px;

	p {
		font-size: 20px;
	}
}

.parts-list,
.diy-single-text {
	p {
		font-size: 15px;

		@media ( min-width: 1300px ) {
			font-size: 30px;
		}
	}

	img {
		width: 65%;

		@media ( min-width: 768px ) {
			width: 32%;
		}

		float: left;
		margin-right: 10px;
	}
}

.img-gallery-title {
	@media ( min-width: 1300px ) {
		h2 {
			font-size: 50px;
		}
	}
}

.diy-single-image-gallery {
	@media ( max-width: 767px ) {
		.col-sm-4 {
			padding: 0px;
		}
	}

	@media ( min-width: 768px ) {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media ( min-width: 1024px ) {
		padding-left: 0px;
		padding-right: 0px;
	}

	h2 {
		font-size: 43px;
	}

	ul {
		li {
			a img {
			display: block;
			background-color: $col-color;
			border-radius: 5px;
			margin-bottom: 10px;
			padding-bottom: 0px;

			@media ( min-width: 1024px ) {
				width: 100%;
				height: 250px;
				}

				@media ( min-width: 1300px ) {
				height: 100%;
				}
			}

			p {
				font-size: 15px;
				text-align: center;
				margin-bottom: 0px;

				@media ( min-width: 1300px ) {
					font-size: 30px;
				}
			}

			p:last-child {
				padding-bottom: 20px;
			}
		}
	}
}

.img-gallery {
	@media ( min-width: 768px ) {
		padding: 32px;
	}

	.container {
		margin-top: 0px;
	}
}

/* Helper Classes ------------------------ */
@media ( max-width: 768px ) {

	.diy-top-boxes,
	.diy-single-text {
		margin-top: 0px;

		p {
			font-size: 15px;
		}
	}

	.diy-single-title {
		h2 {
			margin-right: 5px;
			font-size: 30px;

			@media ( min-width: 1025px ) {
				font-size: 37px;
			}
		}
	}
}