.blog-content {
	background-color: $white-transparent;
	border-radius: $col-radius;

	@media ( min-width: 768px ) {
		margin-bottom: 20px;
	}

	padding: 33px;

	a {
		color: $title-black;
		letter-spacing: 2px;
	}

	h2 {
		padding-top: 20px;
		margin-bottom: 0px;
		text-align: left;
	}

	p {
		font-size: 17px;
	}

	img {
		box-shadow: 0px 3px 12px #767a7b;
		max-width: 100%;
		margin-top: 0px;
		margin-bottom: 5px;
		width: 200px;
		height: unset;
	}
}

@media ( max-width: 414px ) {
		.home-blog-title {
		h2 {
			margin-left: 15px;
			margin-right: 14px;
		}
	}
}