.inner-content {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 33px;
	background-color: $white-transparent;
	border-radius: $col-radius;
}

@media (max-width: 768px) {
	.search-content {
		margin-left: 0px;
	}
}