.shop-container {
	@media ( min-width: 1025px ) {
		margin-top: 100px;
	}
}

.shop-page {
	padding-top: 15px;

	@media ( min-width: 1025px ) {
		padding: 30px;
	}

	h2 {
		margin-top: 0px;
		text-align: left;
		margin-bottom: 0px;
	}

	h5 {
		text-align: left;
	}
}

.shop-page-image-content {
	p {
		font-size: 17px;
		padding-bottom: 10px;
	}

	img {
		width: 200px;
		height: 200px;
		margin-top: 5px;
		margin-bottom: 0px;
	}
}

/* Helper Classes -------------------------- */
@media ( max-width: 768px ) {
	.image-gallery {
		img {
			background-color: $col-color;
			border-radius: 5px;
			margin-bottom: 10px;
		}
	}

	.shop-page {
		img {
			padding-bottom: 0px;
		}
	}

	.shop-page-image-content {
		p {
			font-size: 15px;
			padding-bottom: 10px;
		}

		img {
			margin-bottom: 0px;
		}
	}
}