.lift-sgl-col {
	padding: 33px;

	@media ( min-width: 1025px ) {
		margin-top: 100px;
	}
}

.single-lift {
	border-radius: $col-radius;
	background-color: $white-transparent;
	margin-left: 0px;
	margin-right: 0px;
	padding: 43px;

		h2 {
		font-size: 35px;
	}

	img, p {

		@media ( min-width: 1025px) {
			margin-bottom: 27px;
		}
	}

	img {
		border-radius: 0px;

		@media ( min-width: 1025px ) {
			margin-top: 18px;
			margin-right: 10px;
			width: 400px;
			float: left;
		}
	}

	p {
		margin-bottom: 27px;
		font-size: 16px;

		@media ( min-width: 1300px ) {
			font-size: 25px;
		}
	}
}

