.lift-sgl-col {
	margin-top: 100px;
}

.single-lift {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: $col-radius;
	background-color:  $col-color;

		h2 {
		font-size: 35px;
		padding-bottom: 10px;
	}

		img {
			max-width: 100%;
			float: left;
			margin: 10px;
	}

		p {
		font-size: 16px;
		margin-left: 10px;
		margin-right: 5px;
	}
}

@media ( max-width: 768px ) {
	.single-lift {
		margin-left: 0px;
		margin-right: 0px;

		img {
			width: 200px;
		}
	}
}
