.lift-page-container {
	@media ( min-width: 1025px ) {
		margin-top: 5em;
	}

	padding: 0px;
}

.row .lift-page {
	margin-left: 16px;
	margin-right: 16px;

	@media ( min-width: 1025px ) {
		margin-left: 10px;
		margin-right: 10px;
	}

	margin-bottom: 25px;
}

.lift-page-title {
	background-color: $white-transparent;
	border-radius: $col-radius;
	padding: 33px;

	h2 {
		padding-top: 16px;
	}

	h5 {
	text-align: center;
	padding-bottom: 5px;
	}
}

.lift-page-image {
	img {
		margin-bottom: 10px;
		display: block;
		margin: auto;

		@media ( min-width: 768px ) {
			width: 400px;
		}
	}
}

.lift-page {
	img {
		margin-top: 1px;
		border-radius: $col-radius;
		display: block;
	}
}




