.lift-sgl-col {
	padding: 0px;

	@media ( min-width: 1025px ) {
		margin-top: 120px;
	}
}

.single-lift {
	@media ( min-width: 768px ) {
		margin: 40px;
		padding: 10px;
	}

	@media ( min-width: 1025px ) {
		margin-left: 30px;
		margin-right: 30px;
		margin-bottom: 50px;
	}

	border-radius: $col-radius;
	background-color:  $col-color;

		h2 {
		font-size: 35px;
	}

	img, p {

		@media ( min-width: 1025px) {
			margin-bottom: 27px;
		}

		padding-left: 15px;
		padding-right: 15px;
	}

	img {
		border-radius: 0px;

		@media ( min-width: 1025px ) {
			margin-top: 18px;
			width: 400px;
			float: left;
			margin-left: 29px;
			padding-right: 15px;
		}
	}

	p {
		font-size: 16px;
		padding-right: 43px;
		margin-bottom: 27px;
	}
}

