#tool-list-archive {
	margin-top: 50px;
	margin-bottom: 50px;

	@media ( min-width: 768px ) {
		padding-left: 42px;
		padding-right: 42px;
	}

	@media ( min-width: 1024px ) {
		margin-top: 150px;
	}
}
 
.tool-list {
	background-color: $col-color;
	padding: 20px;

	h2 {
		font-size: 20px;
		padding-top: 0px;
		padding-bottom: 10px;
	}

	img {
		display: block;
		margin: auto;
		width: initial;
	}

	p {
		padding: 10px;
		font-size: 17px;
	}
}