.track-blog-page {
	background-color: $white-transparent;
	border-radius: $col-radius;
	padding: 33px;
}

.track-pg-content {
	h2 {
		text-align: left;
	}

	img {
		width: 200px;
		text-align: left;
	}
}