.sgl-shop-container {

	@media ( max-width: 767px ) {
		.col-sm-12 {
			padding: 0px;
		}
	}

	@media ( min-width: 1024px ) {
		margin-top: 150px;
	}

	width: 100%;
}

.shop-single {
	margin-top: 50px;
	padding-top: 33px;
	padding-bottom: 33px;
	margin-bottom: 50px;
	border-radius: $col-radius;
	background-color: $white-transparent;
	margin-left: 0px;
	margin-right: 0px;
}

.shop-single-content {
	img {
		width: 85%;

		@media ( min-width: 768px ) {
			width: 500px;
		}

		display: block;
		margin: auto;
	}

	h2 {
		font-size: 35px;
		margin-bottom: 0px;
	}

	h5, p {
		text-align: center;
	}

	img {
		margin-top: 10px;
	}

	p {
		font-size: 15px;
	}
}

.image-gallery {
	.col-md-4 {
		padding-left: 7px;
		padding-right: 7px;

		@media ( min-width: 768px ) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	img {
		background-color: $col-color;
		border-radius: 5px;
		margin-bottom: 10px;
		padding-bottom: 0px;

	@media ( min-width: 1024px ) {
		height: 300px;
	}

	@media ( min-width: 1300px ) {
		height: 500px;
	}
}

	p {
		text-align: left;
		font-size: 15px;
	}
}
