footer {
	background-color: $med-grey;
	clear: both;
}

.ftr-nav {
	z-index: 1000;
}

.copyright p {
	text-align: center;
	color: $light-grey;
	font-weight: bold;

	@media ( min-width: 768px ) {
		margin-top: 22px;
		float: right;
		padding-right: 52px;
		font-size: 13px;
	}

	@media ( min-width: 1025px ) {
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 16px;
	}
}

ul {
	list-style: none;
}


.post-meta-key {
	display: none;
}

#footer-nav {
	@media ( min-width: 1025px ) {
		padding-top: 33px;
	}
}

#menu-menu-3 {
	padding-left: 0px;

	a {
		letter-spacing: 2px;
		padding-left: 5px;
		padding-right: 5px;
	}

	a:hover {
		color: $light-blue;
	}

	@media ( min-width: 768px ) {
		margin-top: 11px;
		padding-left: 48px;
	}

	@media ( min-width: 1024px ) {
		margin-top: 4px;
		padding-left: 40px;
	}

	line-height: 3em;
	text-align: center;
	text-shadow: 0px 2px 6px #000;
}

.bottomMenu {
	display: block; 
	width: 100%;

	@media ( min-width: 414px ) {
		.bottomMenu {
			padding-left: 20px;
		}
	}

	ul { 
		display: inline; 
		float: left;

		li {
			border-right: thin solid $light-grey;
			list-style-type: none; 
			display: inline;
			&:last-child > a {
				border-right: none;
			}

			a {
				color: $light-grey;
				font-size: 13px;

				@media ( min-width: 768px ) {
					padding: 0px;
				}

				@media ( min-width: 1024px ) {
					font-size: 15px;
					letter-spacing: 2px;
					line-height: 15px;
					text-decoration: none;
					font-weight: bold;
					padding: 0 7px 0 3px;
				}

				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}
}