#scroll {
	@media ( max-width: 768px ) {
		padding-top: 63em;
	}

	@media ( max-width: 568px ) {
		padding-top: 16em;
	}

	@media ( max-width: 415px ) {
		padding-top: 42em;
	}

	@media ( max-width: 375px ) {
		padding-top: 38em;
	}

	img {
		display: block;
		margin: 0 auto;
		width: initial;
		padding-right: 2em;
		padding-left: 3em;

		@media ( min-width: 768px ) {
			padding-right: 0px;
			padding-left: 0px;
		}

		@media ( min-width: 769px ) {
			display: none;
		}

	}
}

.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}

