.large-navbar {
	display: none;
}

.navbar-collapse {
	padding: 0px;
}

#nav-icon2 {
	z-index: 1000;
	width: 45px;
	height: 45px;
	position: relative;
	margin-top: 11px;
	margin-right: 26px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon2 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 50%;
	background: $off-white;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 11px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 23px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 2px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 2px;
  top: 24px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 4px);
  top: 23px;
}

.sm-nav-img {
	@media ( max-width: 766px ) {
		display: none;
	}
} 

.navbar {
	border: none;

	.nav-banner {
		height: 100px;

		@media ( max-width: 736px ) {
			display: initial;
		}
	}
}

.nav-logo {
	margin-top: 3px;
	float: left;

	@media ( min-width: 768px ) {
		padding-left: 50px;
	}

	a {
		text-decoration: none;
	}

	h1 {
		padding-top: 6px;

		@media ( min-width: 768px ) {
			padding-top: 31px;
		}

		font-family: Bangers;
		text-transform: uppercase;
		color: $light-grey;
		letter-spacing: 4px;
		font-size: 26px;

		@media ( min-width: 768px ) {
			padding-top: 34px;
			font-size: 21px;
		}

		@media ( min-width: 1025px ) {
			padding-top: 24px;
			font-size: 47px;
		}
	}

	h1:hover {
		color: $light-blue;
	}
}

.navbar-inverse .navbar-collapse {

	@media ( max-width: 767px ) {
		margin-top: -6em;
	}

	background-color: rgba(60, 60, 60, 0.86);
	border-color: transparent;

	@media ( min-width: 768px ) {
		border-color: $black;
		background-color: transparent;
	}
}

.navbar-collapse.in {
	overflow-y: visible;
}

.navbar-fixed-top .navbar-collapse, {
	max-height: inherit;
	height: -webkit-fill-available;

	@media ( min-width: 568px ) {
		height: initial;
	}

	width: 60%;

	@media ( min-width: 768px ) {
		width: initial;
	}

}

.nav-tab-col {
	margin-top: 22px;
	padding: 0px;

	@media ( min-width: 768px ) {
		padding-right: 50px;
	}
}

.navbar
.navbar-nav {
	@media ( min-width: 768px ) {
		padding-top: 20px;
		float: right;
	}

	@media ( min-width: 1024px ) {
		margin-right: 31px;
		padding-top: 30px;
	}
}

.navbar-collapse {
	box-shadow: none;
}

.nav .nav-item {
	a {
		font-size: 20px;
	}
}
 
.navbar-inverse 
.navbar-nav > li > a {
	color: $white-ish;

	@media ( min-width: 1024px ) {
		font-size: 40px;
	}

	color: $white;
	display: inline-block;
}

.navbar-nav > li > a {
	padding-top: 11px;
	padding-bottom: 7px;

	@media ( min-width: 568px ) {
		padding-bottom: 4px;
	}
}
.sub-menu li {
	margin-bottom: 10px;
	list-style: none;
}

.sub-menu li:last-child {
	margin-bottom: 0;
}

.sub-menu a  {
	color: $lt-med-grey;
	text-decoration: none;
}

.nav > li > a {
	padding: 10px 14px;
}

#navbar {
	ul {
		li {
			a:hover {
			color: $light-blue;
			}
		}
	}
}

#navbar ul li a {
	letter-spacing: 2px;
	color: $light-grey;
	font-family: Bangers;

	@media ( min-width: 768px ) {
		letter-spacing: 1px;
		font-size: 11px;
	}

	@media ( min-width: 1200px ) {
		letter-spacing: 4px;
		font-size: 18px;
	}
}

.navbar-inverse {
	@media ( min-width: 1024px ) {
		margin-top: 0px;
	}

	background-color: transparent;
	border-color: transparent;
}

.navbar-inverse {
.navbar-toggle {
	background-color: transparent;
	border-color: transparent;
	}
}

.navbar-inverse
.navbar-toggle:hover,
.navbar-inverse
.navbar-toggle:focus {
	background-color: transparent;
}

@media ( min-width: 1024px ) {
	.navbar-inverse, 
	.collapse{
		margin-bottom: -100px;
	}

	.large-navbar {
		display: block;
	}

	.small-navbar {
		display: none;
	}
}

@media (max-width: 767px) {
	.navbar
	.navbar-nav {
		margin-top: 3em;
		padding-left: 10px;
		float: none;
	}

	.sub-menu {
		display: none;
		position: absolute;
		background: $white-grey;
		padding: 10px 15px;
		width: 200px;
	}

	li:hover .sub-menu {
		display: block;
	}
}