.sidebar {
	@media ( max-width: 767px ) {
		display: none;
	}

	margin-top: 50px;
	margin-bottom: 50px;
	padding: 33px;
	background-color: $white-transparent;
	box-shadow: $box-shadow;
	border-radius: $col-radius;
}

.textwidget {
	p {
		color: $dark-grey;
	}

	.twitter-timeline {
		min-width: unset !important;
	}
}

.widget {
	h3 {
	color: $med-grey;
	}
}

.wu-search {
	border: solid;
}

.wu-wrapper .wu-search input {
	border-radius: 0px;

	@media ( max-width: 768px ) {
		font-size: 12px;
		padding: 0px 0px 0px 27.25px;
	}

	@media ( min-width: 1024px ) {
		padding: 10px 9em 10px 31.25px;
	}
}

.wu-day-current-temp,
.wu-cond-text {
	color: $black;
}
.wu-current-conditions 
.wu-cond-text, 
.wu-current-conditions 
.wu-cond-icon{
	font-weight: bold;
} 

.rounded {
	font-family: bangers;
	color: $grey-green;
	text-align: center;
}

/* Helper Classes --------------------------- */
@media ( min-width: 769px ) {
	.wu-wrapper
	.wu-search
	input {
		padding-left: 79px;
	}
}

/* Chassis Sidebar -------- */
#sidebar-widget {
	margin-top: 50px;
}

#sidebar {
	background-color: $white-transparent;
	border-radius: 5px;
	margin-bottom: 30px;
	padding-bottom: 40px;

	h2 {
		margin-top: 0px;
		padding-top: 40px;
	}

.tool-list ol {
	padding-top: 5px;
}

	li {
		font-size: 20px;
		padding-left: 20px;
	}
}

/* Chassis Sidebar ------------------- */
@media ( max-width: 768px ) {
	#sidebar {
		margin-left: 0px;

		h2 {
			text-align: center;
		}

		li {
			text-align: center;
			padding-left: 0px;
			padding-bottom: 5px;
		}
	}
}





