
.sidebar {
	margin-left: 43px;
	background-color: $col-color;
	border: $border;
	border-radius: $col-radius;
}

.textwidget p {
	color: #444;
}

.widget {
	margin: 10px 0 30px;
}

.widget {
	h3 {
	color: #888;
	}
}

.wu-search {
	border: solid;
}

.wu-wrapper .wu-search input {
	border-radius: 0px;
}

.wu-day-current-temp,
.wu-cond-text {
	color: #000;
}
.wu-current-conditions 
.wu-cond-text, 
.wu-current-conditions 
.wu-cond-icon{
	font-weight: bold;
} 

.rounded {
	font-family: bangers;
	font-size: 34px;
	color: #000;
	text-align: center;
}

/* Helper Classes --------------------------- */
@media ( max-width: 768px ) {
	/*.sidebar {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 25px;
		margin-bottom: 20px;
	}*/
	.sidebar {
		display: none;
	}
	.wu-wrapper .wu-search input {
		padding-left: 79px;
	}
}

/* Chassis Sidebar -------- */
#sidebar {
	margin-left: 43px;
	border: $border;
	background-color: $col-color;
	border-radius: 5px;
	margin-top: -19px;
	padding-bottom: 15px;
	h2 {
		margin-top: 0px;
		padding-top: 10px;
		font-size: 34px;
	}
	li {
		font-size: 20px;
		padding-left: 20px;
	}
}

/* Chassis Sidebar ------------------- */
@media ( max-width: 768px ) {
	#sidebar {
		margin-left: 0px;
		margin-top: 0px;
		padding-bottom: 0px;
		h2 {
			text-align: center;
		}
		li {
			text-align: center;
			padding-left: 0px;
			padding-bottom: 5px;
		}
	}
}





