body {
	font-family: 'Fanwood Text', serif, 'Open+Sans', 'Bangers';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.container {
	width: 100%;

	@media (min-width: 1000px) {
		margin-top: 100px;
	}
}

.col-md-8 {
	margin-top: 30px;
	margin-bottom: 30px;

	@media ( min-width: 768px ) {
		margin: 40px 26px;
	}

	@media ( min-width: 1024px  ) {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	border-radius: $col-radius;
	background-color: $col-color;
}

.header-parallax {
	height: -webkit-fill-available;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media ( min-width: 1024px ) {
		height: 555px;
	}
}

.parallax { 
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.affix {
	top: 0;
	width: 100%;
	z-index: 1000;
}

.affix + .container-fluid {
	padding-top: 70px;
}

.page-header {
	border-bottom: none;
}

p {
	font-family: $primaryFont;
}

h2 {
	letter-spacing: 2px;

	@media ( min-width: 769px ) {
		padding-top: 20px;
	}

	text-align: center;
	font-family: Bangers;
	color: $title-black;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	}

h5 {
	text-align: initial;
	margin: 0px;
	font-size: 10px;
}

header .title {
	text-align: right;
	height: 130px;
	border-radius: 4px;
}

.container p {
	text-align: left;
}

h1 {
	display: block;
	margin: 0 auto;
}

p {
	font-size: 15px;
}

ul {
	padding: 0px;
}

.post-categories {
	li {
		display: inline;
	}
}

.blog-navigation {
	padding-bottom: 10px;

	ul {
		display: -webkit-box;

		a {
			padding-left: 5px;
			color: $grey-green;
		}

		a:hover {
			color: $light-blue;
		}
	}
}
