body {
	font-family: 'Fanwood Text', serif, 'Open+Sans', 'Shrikhand', 'Bangers';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.affix {
	top: 0;
	width: 100%;
	z-index: 1000;
}

.affix + .container-fluid {
	padding-top: 70px;
}

img {
	margin: 0 auto;
	border-radius: 10px;
	max-width: 100%;
	height: auto;
	}

h2 {
	text-align: center;
	font-family: Bangers;
	color: $black;
}

.inner-wrapper {
	margin: 0px;
	padding: 0px;
}

.col-md-12 {
	padding: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
	p {
	font-size: 25px;
	}
}

/* Left Column of Home, DIY, The Shop, Track Blog, The Lift ------- */
.col-md-8 {
	border-radius: $col-radius;
	background-color:  $col-color;
	border: $border;
	margin-left: $col-margin-left;
	margin-top: 50px;
}

.col-md-3 {
	margin-top: 50px;
}

.tool-list ol {
	padding-top: 5px;
}
.tertiary { 
	padding-top: 5px;
	margin-left: 5px;
	h2 {
	text-align: center;
	}
}

h5 {
	margin: 0px;
	font-size: 10px;
}

.blog-navigation {
	ul {
		display: -webkit-box;
		a {
			padding-left: 5px;
		}
	}
}

/* Header -------------- */
header .title {
	text-align: right;
	height: 130px;
	border-radius: 4px;
}

.container p {
	text-align: left;
}

 h1 {
	color: black;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
	max-width: 100%;
	height: auto;
}


.content a {
	color: inherit;
}
.content, .col-md-8 img {
	text-align: center;
	margin: 0 auto;
	border-radius: 10px;
	max-width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
}
.content img {
	height: 100%;
	max-width: 100%;
	max-height: 100%;

}

.content h2 {
	padding-top: 5px;
}

.col-md-8,
.col-md-4, .sidebar {
	padding-top: 10px;
}
p {
	font-size: 15px;
}

ul {
	padding: 0px;
}

.post-categories {
	li {
		display: inline;
	}
}

/* Helper Classes --------------------------- */
@media (min-width: 1000px) {
	.container {
		width: 100%;
		padding-top: 100px;
	}
}

@media( max-width: 768px ) {
	.row {
		margin-top: 0px;
	}
}






