/* Variables ------------- */

//Colors
$white:#fff;
$black:#000;
$white-transparent: rgba(255, 255, 255, .6);



//Text Shadow
$text-shadow: 5px 4px 11px #000;

$col-color: #f9f9f9;
$col-radius: 5px;
$col-margin-left: 30px;
$border: 1px solid;