/* Variables ------------- */

@import url('https://fonts.googleapis.com/css?family=Muli:400');

$primaryFont: 'Asap', 'Muli', 'sans-serif';

//Colors
$white:#fff;
$black:#000;
$white-transparent: rgba(255, 255, 255, .8);
$title-black: #495045;


//Text Shadow
$text-shadow: 5px 4px 11px #000;
$box-shadow: 2px 2px 10px rgb(255, 255, 249);
$col-color: rgba(255, 255, 255, 0.97);
$col-radius: 5px;
$col-margin-left: 30px;
$border: 1px solid;