.search-form {
		margin-top: 1em;
		margin-right: 15px;
		margin-left: 15px;
		text-align: center;
		border-radius: $col-radius;
		background-color: $col-color;
	}

@media ( min-width: 768px ) {
	.search-form {
		display: none;
	}
}