.search-form {
	@media ( max-width: 500px ) {
		padding-top: 50px;
		padding-left: 6px;
	}

	@media ( min-width: 768px ) {
		padding-top: 4px;
	}

	@media ( min-width: 1024px ) {
		padding-top: 21px;
	}

	form {
		height: 0px;
	}

	label, input {
		background-color: $col-color;
		border-radius: 5px;

		@media ( min-width: 1024px ) {
			border-radius: 6px;
			line-height: 14px;
		}

		color: $white-ish;
	}

	@media ( min-width: 768px ) {
		padding-right: 12px;
		text-align: right;
		font-size: 10px;
		padding-bottom: 10px;

		@media ( min-width: 1024px ) {
			padding-right: 48px;
			text-align: right;
		}
	}
}


#searchsubmit, #s {
	font-size: 10px;

	@media ( min-width: 1024px ) {
		font-size: 14px;
	}

	color: $black;
}

#searchsubmit:hover {
	color: $light-blue;
}